.body {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 32px;
}

.card {
  max-width: 390px;
  height: 450px;
  background: #ffff;
  border-radius: 4px;
  flex-direction: column;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.card img {
  flex-direction: column;
  border-radius: 4x;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  width: 83%;
  height: 70%;
}

@media screen and (max-width: 640px) {
  .grid {
    justify-content: center;
  }

  .card {
    width: 100%;
    margin-bottom: 10px;
  }
}

// @media screen and (max-width: 640px) {
//   .grid {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     gap: 20px;
//     justify-content: center;
//   }

//   .card {
//     width: 100%;

//     margin-bottom: 10px;
//   }
//   .card img {
//     width: 83%;
//     height: 50%;
//   }
// }
